{% extends "base.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <h2>{{ title }}</h2>
{#    {% if 'username' in session %}#}
        <div class="card text-bg-dark mt-2">
            <div class="card-body">
                <h3>Users <small>({{ num_users }})</small></h3>
                <p>Get users list: <a href="/users">Users List</a></p>
                <p>Get list of 3 users: <a href="/users?size=3">List of 3 users</a></p>
                <p>Get user with id: <a href="/users/1">1</a></p>
            </div>
        </div>

        <div class="card text-bg-dark mt-2">
            <div class="card-body">
                <h3>Books <small>({{ num_books }})</small></h3>
                <p>Get books list: <a href="/books">Books List</a></p>
                <p>Get list of 3 books: <a href="/books?size=3">List of 3 books</a></p>
                <p>Get book with id: <a href="/books/1">1</a></p>
            </div>
        </div>

        <div class="card text-bg-dark mt-2">
            <div class="card-body">
                <h3>Purchases <small>({{ num_purchases }})</small></h3>
                <p>Get purchases list: <a href="/purchases">Purchases List</a></p>
                <p>Get list of 3 purchases: <a href="/purchases?size=3">List of 3 purchases</a></p>
                <p>Get purchase with id: <a href="/purchases/1">1</a></p>
            </div>
        </div>

{#        <div class="card text-bg-dark mt-2">#}
{#            <div class="card-body">#}
{#                <h3>Login</h3>#}
{#                <p>Login Page: <a href="/login">Login</a></p>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="card text-bg-dark mt-2">#}
{#            <div class="card-body">#}
{#                <h3>Page 404</h3>#}
{#                <p>Custom Not Found Page: <a href="/not-found">404</a></p>#}
{#            </div>#}
{#        </div>#}
{#    {% else %}#}
{#        <p>You are not authorized, please <a class="text-link" href="{% url 'auth:login' %}">Login</a></p>#}
{#    {% endif %}#}
{% endblock %}
