{% extends "base.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <h2>{{ title }}</h2>

        <form id="addUserForm" method="POST" action="{{ url_for('user_create') }}">
            <div class="card text-bg-dark">
                <div class="card-body">
                    <div class="form-group mb-2">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter username" value="{{ username }}"
                               class="form-control bg-dark text-light" required>
                        <p><small class="text-danger">{{ username_error }}</small></p>
                    </div>
                    <div class="form-group mb-2">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter password" value="{{ password }}"
                               class="form-control bg-dark text-light" required>
                        <p><small class="text-danger">{{ password_error }}</small></p>
                    </div>
                    <div class="form-group mb-2">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="first_name" placeholder="Enter first name" value="{{ first_name }}"
                               class="form-control bg-dark text-light" required>
                        <p><small class="text-danger">{{ first_name_error }}</small></p>
                    </div>
                    <div class="form-group mb-2">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="last_name" placeholder="Enter last name" value="{{ last_name }}"
                               class="form-control bg-dark text-light" required>
                        <p><small class="text-danger">{{ last_name_error }}</small></p>
                    </div>
                    <div class="form-group mb-2">
                        <label for="age">Age</label>
                        <input type="number" min="1" max="120" id="age" name="age" placeholder="Enter age" value="{{ age }}"
                               class="form-control bg-dark text-light" required>
                        <p><small class="text-danger">{{ age_error }}</small></p>
                    </div>
                    <p><small id="serverError" class="text-danger"></small></p>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}