{% extends "base.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <h2>{{ title }}</h2>

    <div class="card text-bg-dark my-2">
        <div class="card-body">
            <button type="button" class="btn btn-secondary mr-2" onclick="history.back()">
                <span class="bi-chevron-left"></span>&nbsp;Back
            </button>
        </div>
    </div>

    {% if keys|length %}
    <table class="table table-dark">
        <thead>
            <tr><th>parameter</th><th>value</th></tr>
        </thead>
        <tbody>
        {% for key in keys %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ params[key] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No params</p>
    {% endif %}
{% endblock %}