{% extends "base.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <h2>{{ title }}</h2>

    <div class="card text-bg-dark my-2">
        <div class="card-body">
            <button type="button" class="btn btn-secondary mr-2" onclick="history.back()">
                <span class="bi-chevron-left"></span>&nbsp;Back
            </button>
            {% for purchase, book, user in purchase %}
            <button type="button"
                    class="btn btn-danger btn-delete"
                    data-url="{{ url_for('purchase_delete', purchase_id=purchase.id) }}"
                    data-redirect_url="purchases"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmDelete">
                <span class="bi-trash"></span> Delete
            </button>
            {% endfor %}
        </div>
    </div>

    <table class="table table-dark">
        <thead>
            <tr><th>key</th><th>value</th></tr>
        </thead>
        <tbody>
        {% for purchase, book, user in purchase %}
            <tr><td>id</td><td>{{ purchase.id }}</td></tr>
            <tr><td>book</td><td><a href="{{ url_for('book_detail', book_id=book.id) }}">{{ book.title }} / {{ book.author }}</a></td></tr>
            <tr><td>username</td><td><a href="{{ url_for('user_detail', user_id=user.id) }}">{{ user.username }}</a></td></tr>
            <tr><td>price</td><td>{{ book.price }}</td></tr>
            <tr><td>date</td><td>{{ purchase.date }}</td></tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    Delete confirmation
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" id="btnDelete">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}