{% extends "base.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <h2>{{ title }}</h2>

        <form method="post">
            <div class="card text-bg-dark">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_div }}

                    <div class="text-end">
                        <a class="btn btn-secondary me-1" href="{% url 'books:book-index' %}">
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}